body {
  margin: 0;
  min-width: fit-content;
  min-height: fit-content;
  background: url("images/wood-background.jpg") repeat-y center center fixed;
  background-size: 100% 100%;
}
.content {
  width: 100%;
  min-width: 850px;
}

.folder {
  width: 1200px;
  height: 1060px;
  position: relative;
  display: flex;
  padding-top: 3em;
  padding-bottom: 4em;
  margin: 0 auto;
}

.folder .left,
.folder .right {
  background: url("images/blue-background.jpg") no-repeat center;
}
.folder .left {
  width: 260px;
  transition: all 2.5s ease;
  border-left: 2px solid rgba(0,0,0,0.4);
  z-index: 5;
}
.folder .right {
  width: 350px;
  transition: all 2s ease;
  border-right: 2px solid rgba(0,0,0,0.4);
  z-index: 3;
}
.folder .center {
  width: 500px;
  background-image: 
    linear-gradient(to right, rgba(0,0,0,0.4), transparent 2%), 
    linear-gradient(to left, rgba(0,0,0,0.4), transparent 2%), 
    url("images/blue-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.folder .paper-one img {
  width: calc(100% - 2em);
  margin: 1em;
  box-sizing: border-box;
}

.folder.closed .left {
  transform: rotateY(180deg);
  transform-origin: center right;
}
.folder.closed .right {
  transform: rotateY(180deg);
  transform-origin: center left;
}
.folder .guest {
  position: absolute;
  background: #fafafa;
  top: 2em;
  left: 300px;
  z-index: 7;
  font-size: 2em;
  font-family: 'Parisienne', cursive;
  width: 450px;
  min-height: 1.2em;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  padding: .2em;
  transition: transform ease-out 1s;
  transform: translateY(0);
}
.folder .guest.out {
  transform: translateY(-220px);
}
.folder button {
  position: absolute;
  left: 470px;
  top: 400px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 6;
  background: #c62828;
  box-shadow: inset 0 0 15px 10px rgba(0,0,0,0.4);
  font-family: 'Caveat', cursive;
  font-size: 1.7em;
  color: #690000;
  font-weight: bold;
  outline: none;
}
@keyframes example {
  0%   {left:470px; transform: rotateY(0);}
  100% {left:-50px; transform: rotateY(180deg);}
}
.folder button.opened {
  left: -50px;
  z-index: 4;
  transform: rotateY(180deg);
  color: #c62828;
  animation-name: example;
  animation-duration: 2s;
}
.folder .right-front {
  width: 350px;
  height: 800px;
  position: absolute;
  background: url(images/blue-background.jpg) no-repeat center;
  z-index: 1;
  transition: transform ease-out 1s;
}
.folder .right-back {
  width: 350px;
  margin: 1em;
  z-index: 2;
}
.folder .right-back img {
  width: calc(100% - 2em);
  box-sizing: border-box;
  transition: transform ease-out 1s;
  transform: translate(0, 200px);
}
.folder .right-back.slided img {
  transform: translate(0, 10px);
}
.folder .cover {
  position: relative;
  background: url("images/blue-background.jpg") no-repeat center;
  width: 100%;
  height: 200px;
  box-shadow: 0 -5px 5px rgb(0 0 0 / 50%), 0 5px 5px rgb(0 0 0 / 50%);
  border: 2px solid rgba(0,0,0,0.5);
  box-sizing: border-box;
  margin-left: -1em;
}



.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #ECF0F1;
  z-index: 10;
  min-height: 100%;
}
.preloader .container {
  width: 100%;
  height: 80vh;
  position: fixed;
}

.load{
  border: 1px solid #ECF0F1;
  padding: 5px;
  position:absolute;
  top:50%;
  left:50%;
  transform-origin: center center;
  transform:translate(-50%, -50%) rotate(135deg);
  /*change these sizes to fit into your project*/
  width:50px;
  height:50px;
  
}
.load hr{
  border:0;
  margin:0;
  width:40%;
  height:40%;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite;
}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translateX(200%)}
  25%{transform:translateY(200%)}
  50%{transform:translateX(0)}
  75%{transform:translateY(0)}
}